.LoginCard {
  padding: 40px 0px 0px 20px;
}

.LoginCard-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 17px;
}

.LoginCard-login {
  padding-bottom: 1px;
}

.LoginCard-input-login {
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 203px;
  height: 26px;
  display: block;
}

.Login-card-password {
  padding-bottom: 1px;
}

.LoginCard-input-password {
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 203px;
  height: 26px;
  display: block;
}

.LoginCard-error {
  color: #ff0000;
  font-size: 18px;
  padding-bottom: 20px;
}
